<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/auth">Login</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/auth/register">register</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/app">App</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/app/products">Products</a></li>
            </ul>
        </div>
    </div>
</nav>